@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply text-[13px] md:text-[14px] lg:text-[15[x]] xl:text-[16px] scroll-smooth;
    font-family: "Cardo", serif;
  }

  body {
    background: #141a1c;
  }

  /* scrollbar */

  ::-webkit-scrollbar {
    width: 8px;
    left: -100px;
  }

  ::-webkit-scrollbar-track {
    background: #141a1c;
    margin: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #bfa37c;
    border: solid 3px #141a1c;
    border-radius: 6px;
  }

  /* calender */

  ::-webkit-datetime-edit {
    color: transparent;
  }

  ::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  /* input reset */

  input:focus {
    outline: none !important;
  }

  /* Chrome,
  Safari,
  Edge,
  Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  a {
    @apply uppercase text-base hover:text-primary selection:text-primary;
  }

  p {
    @apply text-sm;
    font-family: "Cardo", serif;
  }

  option:checked,
  option:hover {
    box-shadow: 0 0 10px 100px #1882a8 inset;
  }

  .btn {
    @apply uppercase p-3 text-base rounded-[4px] flex justify-center items-center gap-1;
  }

  .btn-primary {
    @apply bg-primary relative pr-8 hover:bg-opacity-75;
  }

  .btn-primary > svg {
    position: absolute;
    right: 3px;
  }

  /* classes */

  .padding-1 {
    @apply px-6 md:px-12 lg:px-36 xl:px-44 2xl:px-56;
  }

  .padding-2 {
    @apply py-10 sm:py-14 md:py-16 lg:py-16 xl:py-20 2xl:py-24;
  }

  /* slider */
  .swiper-pagination-bullet {
    background: #ffffff !important;
  }

  .swiper-pagination-bullet-active {
    display: none !important;
  }

  /* circular scroll progress */

  .CircularProgressbar .CircularProgressbar-trail {
    stroke: gray !important;
  }

  .CircularProgressbar .CircularProgressbar-path {
    stroke: #bfa37c !important;
  }

  /* keyframes */

  @keyframes menu-animation {
    0% {
      transform: rotate(-45deg);
      opacity: 0;
    }
    100% {
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  @keyframes scale {
    0% {
      transform: scale(100%);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: scale(115%);
      opacity: 1;
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes heightZeroToFull {
    0% {
      height: 0px;
    }
    100% {
      height: 100%;
    }
  }

  @keyframes scaleIn {
    0% {
      transform: scale(70%);
    }
    100% {
      transform: scale(100%);
    }
  }

  .scaleInOut {
    animation: scale 6s alternate-reverse infinite linear;
  }

  .menuAnimation {
    animation: menu-animation 0.3s normal;
  }

  .fadeIn {
    animation: fadein 1s normal alternate;
  }

  .animate-heightZeroToFull {
    animation: heightZeroToFull 1s;
  }

  .scaleIn {
    animation: scaleIn 0.5s;
  }
}
